* {
  color: white;
  font-family: sans-serif;
  text-align: center;
  list-style-position: inside;
}

.title {
  color: dodgerblue;
  font-size: 84px;
}

body {
  background: #8a8a8a;
  background: -webkit-linear-gradient(143deg, rgba(138, 138, 138, 1) 14%, rgba(102, 102, 102, 1) 50%, rgba(69, 69, 69, 1) 86%);
  background: -moz-linear-gradient(143deg, rgba(138, 138, 138, 1) 14%, rgba(102, 102, 102, 1) 50%, rgba(69, 69, 69, 1) 86%);
  background: linear-gradient(143deg, rgba(138, 138, 138, 1) 14%, rgba(102, 102, 102, 1) 50%, rgba(69, 69, 69, 1) 86%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8A8A8A", endColorstr="#454545", GradientType=0);
}
